# System files
.DS_Store
Thumbs.db

# Caches
.cache/
.sass-cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Workspace files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Product Presentation Deck (Ignored by User Request)
presentacion_deck/

